*{
  user-select: none;
  margin: 0;
  padding: 0;
}
body{
  margin-left: 1rem;
  margin-right: 1rem;
}
.container{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
}
#arrow--left, #arrow--right{
  position: absolute;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
  margin-top: -100px;
  line-height: 3rem;
  background: #f9f4f1;
  border-radius: 8px;
}
#arrow--left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}
#arrow--right{
  right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wrapper {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px 0 80px;
  overflow: hidden;
}
.reviews {
  position: relative;
  z-index: 1;
  display: flex;
}

/* dynamic from JS */
.review {
  display: grid;
  flex: 1 0 calc(100%);
  place-items: center;
  width: 100%;
  height: 100%;
}
.review a{
  color: #000;
  margin: 0;
  padding: 0;
  display: block;
}
.review-inner{
  background-color: #f9f4f1;
}

.review-inner img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
.meta{
  height: 100%;
  padding: 5px 20px 12px;
  font-size: 3rem;
}
.title{
  font-weight: bold;
}
.year{
  font-style: italic;
}